<%-include('../layout/header') %>
  <%- include('../layout/navBar') %>

  <!-- ----------------- Notification section-----------------  -->
 <% if(notification.status === 'error') {%>
  <script>notificationMessage("<%=notification.message%>")</script>
 <%  } else if(notification.status=== 'success'){%>
  <script>notificationMessage("<%=notification.message%>")</script>
 <%  }%>

    <section class="h-100" style="background-color: #eee;">
      <div class="container-fluid h-100 py-5 px-5">
        <div class="row d-flex justify-content-center align-items-start h-100">
          <div class="col-8">

            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
              <div>
                <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                      class="fas fa-angle-down mt-1"></i></a></p>
              </div>
            </div>

            <% productData.forEach((product)=>{
              let product_data = product.product_data[0]
              %>
              <%if(product_data.product_stock <=0 ||product_data.product_status !=1 ||
                product_data.product_stock<product.quantity ){%>
                <div class="card rounded-3 mb-4 " style="background-color: rgb(211, 204, 204);">
                  <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="../../<%= product_data.product_image[0]  %>" class="img-fluid rounded-3"
                          alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <p class="lead fw-normal mb-2">
                          <%= product_data.product_name %>
                        </p>
                        <%if(product_data.product_stock>0 && product_data.product_status == 1 &&
                          product_data.product_stock<product.quantity ){%>
                            <p><span class="text-muted">You can Purchase maximum of <%= product_data.product_stock %> Quantity
                            </p>
                            <%} else {%>
                              <p><span class="text-muted">
                                  <%= product_data.category_name %>
                              </p>
                              <%} %>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>

                        <input id="form1" min="0" max="<%= product_data.product_stock %>" name="quantity"
                          value="<%= product.quantity %>" type="number"
                          class="form-control form-control-sm quantity-bar text-center" style="width:60px;" />

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="">OUT OF STOCK</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="/remove-cart-item/<%= product._id%>" class="text-danger"><i
                            class="fas fa-trash fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <%} else {%>
                  <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src="../../<%= product_data.product_image[0]  %>" class="img-fluid rounded-3"
                            alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">
                            <%= product_data.product_name %>
                          </p>
                          <p><span class="text-muted">
                              <%= product_data.category_name %>
                          </p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                          </button>

                          <input id="form1" min="0" max="<%= product_data.product_stock %>" name="quantity"
                            value="<%= product.quantity %>" type="number"
                            class="form-control form-control-sm quantity-bar text-center" style="width:60px;" />

                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">
                            ₹<%= product_data.product_price %>
                          </h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="/remove-cart-item/<%= product._id%>" class="text-danger"><i
                              class="fas fa-trash fa-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } }) %>





          </div>
          <div class="col-4 " style="margin-top: 0.7rem;">
            <div class="card mb-3 mt-5  border shadow-0 ">
              <div class="card-body ">
                <form>
                  <div class="form-group ">
                    <label class="form-label">Have coupon?</label>
                    <div class="input-group">
                      <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                      <button class="btn btn-light border">Apply</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card shadow-0 border">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Product:</p>
                  <p class="mb-2">Amount</p>
                </div>
                  <%productData.forEach(product => {
                    if(product.cart_status === 1){
                      let singleProduct= product.product_data[0]
                      let productPrice = singleProduct.product_price * product.quantity
                      %>
                    <p>
                  <div class="d-flex justify-content-between">
                  <span><%= singleProduct.product_name %> (<%= product.quantity %>)</span>
                  <span >₹<%=productPrice %></span>
                </div>
                <%}}); %>
                
                
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Discount:</p>
                  <p class="mb-2 text-success">-₹00.00</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">TAX:</p>
                  <p class="mb-2">₹14.00</p>
                </div>
                <hr />
                <div class="d-flex justify-content-between">


                  <p class="mb-2">Total price:</p>
                  <p class="mb-2 fw-bold">₹283.00</p>
                </div>

                <div class="mt-3">
                  <a href="#" class="btn btn-success w-100 shadow-0 mb-2"> Make Purchase </a>
                  <a href="/shop" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </section>