<%-include('../layout/header') %>
  <%- include('../layout/navBar') %>

  <!-- ----------------- Notification section-----------------  -->
 <% if(notification.status === 'error') {%>
  <script>notificationMessage("<%=notification.message%>")</script>
 <%  } else if(notification.status=== 'success'){%>
  <script>notificationMessage("<%=notification.message%>")</script>
 <%  }%>

    <section class="h-100" style="background-color: #fff !important;">
      <div class="container-fluid h-100 py-5 px-5">
        <div class="row d-flex justify-content-center align-items-start h-100">
          <div class="col-8">

            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
              
            </div>
            <%if(productData.length===0){%>
              <div class="text-center">
                <!-- <img src="../../public/user/assets/web-img/cart-empty.gif" alt=""> -->
                <img  src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3bd05447340145.587755b7635a0.gif">
                <h5>Your cart is empty!</h5>
              <p>Look like you have not added anything to cart. Go ahead & explore top Categorys.</p>
              <a href="/shop" class="btn btn-light  border mt-2"> Shop Now </a>
              </div>

            <% 
            }
            else{
            
            productData.forEach((product)=>{
              let product_data = product.product_data[0]
              %>
              <%if(product_data.product_stock <=0 ||product_data.product_status !=1 ||
                product_data.product_stock<product.quantity ){%>
                <div class="card rounded-3 mb-4 " style="background-color: rgb(211, 204, 204);">
                  <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="../../<%= product_data.product_image[0]  %>" class="img-fluid rounded-3"
                          alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <p class="lead fw-normal mb-2">
                          <%= product_data.product_name %>
                        </p>
                        <%if(product_data.product_stock>0 && product_data.product_status == 1 &&
                          product_data.product_stock<product.quantity ){%>
                            <p><span class="text-muted">You can Purchase maximum of <%= product_data.product_stock %> Quantity
                            </p>
                            <%} else {%>
                              <p><span class="text-muted">
                                  <%= product_data.category_name %>
                              </p>
                              <%} %>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>

                        <input id="form1" min="0" max="<%= product_data.product_stock %>" name="quantity"
                          value="<%= product.quantity %>" type="number"
                          class="form-control form-control-sm quantity-bar text-center" style="width:60px;" />

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="">OUT OF STOCK</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="/remove-cart-item/<%= product._id%>" class="text-danger"><i
                            class="fas fa-trash fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <%} else {%>
                  <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src="../../<%= product_data.product_image[0]  %>" class="img-fluid rounded-3"
                            alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">
                            <%= product_data.product_name %>
                          </p>
                          <p><span class="text-muted">
                              <%= product_data.category_name %>
                          </p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                          </button>

                          <input id="form1" min="0" max="<%= product_data.product_stock %>" name="quantity"
                            value="<%= product.quantity %>" type="number"
                            class="form-control form-control-sm quantity-bar text-center" style="width:60px;" />

                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">
                            ₹<%= product_data.product_price %>
                          </h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="/remove-cart-item/<%= product._id%>" class="text-danger"><i
                              class="fas fa-trash fa-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } })} %>





          </div>
          <div class="col-4 " >
            <div class="card mb-3 border shadow-0 ">
              <div class="card-body ">
                <form>
                  <div class="form-group ">
                    <label class="form-label">Have coupon?</label>
                    <div class="input-group">
                      <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                      <button class="btn btn-light border">Apply</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card shadow-0 border">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Product:</p>
                  <p class="mb-2">Amount</p>
                </div>
                  <%
                  let totalPrice=0;
                  productData.forEach(product => {
                    if(product.cart_status === 1){
                      let singleProduct= product.product_data[0]
                      let productPrice = singleProduct.product_price * product.quantity
                      totalPrice= totalPrice+productPrice
                      %>
                    <p>
                  <div class="d-flex justify-content-between">
                  <span><%= singleProduct.product_name %> &nbsp; x &nbsp; <%= product.quantity %></span>
                  <span >₹<%=productPrice %></span>
                </div>
                <%}}); %>
                
                
                
                <div class="d-flex justify-content-between">
                  <p class="mb-2">GST:</p>
                  <%const GST= Math.round((18/100)* totalPrice *100)/100%>
                  <p class="mb-2"><%=GST%></p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Shipping:</p>
                  <%if(totalPrice<=1000 && totalPrice>0)
                  {
                    var Shipping= 25
                  }else{
                    var  Shipping= 0
                  }%>
                  <%if(totalPrice<=1000 && totalPrice>0){
                    %>
                    <p class="mb-2"><%= Shipping%></p>
                    <%
                  } else {%>
                    <p class="mb-2 color">Free shipping</p>
                    <% } %>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <% totalPrice= totalPrice+ GST + Shipping%>

                  <p class="mb-2">Total price:</p>
                  <p class="mb-2 fw-bold"><%= totalPrice %></p>
                </div>

                <div class="mt-3">
                  <%if(productData.length!==0){ %>
                  <a href="/checkout" class="btn btn-success w-100 shadow-0 mb-2"> Check Out </a>
                  <a href="/shop" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                  <% } %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </section>